<div class="catalogueCategorie">
    <% for(let element of categories){ %>
        <%if(element.isCat){ %>
        <div class="categorieCard">
            <a href="<%= element.path %>">
                <img src="<%= element.image %>" alt="<%= element.altTitle %>">
                <p><%= element.catName %></p>
            </a>
        </div>
    <% }}; %>
    

    
</div>