<footer>
    <div class="footer-column">
        <ul>
            <li><a href="">Accueil</a></li>
            <li><a href="">Catégories</a></li>
            <li><a href="">A propos</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <ul>
            <li><a href="">C.G.V</a></li>
            <li><a href="">C.G.U</a></li>
            <li><a href="">Mentions légales</a></li>
        </ul>
    </div>
    <div class="footer-column-RS">

        <a href="/"><img src="https://img.icons8.com/ios-filled/150/000000/facebook-new.png" alt="lien vers facebook"/></a>
        <a href="/categories"><img src="https://img.icons8.com/ios-filled/150/000000/instagram-new.png" alt="lien vers instagram"/></a>
        <a href=""><img src="https://img.icons8.com/metro/104/000000/linkedin.png" alt="lien vers linkedin"/></a>



    </div>
</footer>
    </body>
</html>