<footer>
    <div class="footer-column">
        <ul>
            <li><a href="">Accueil</a></li>
            <li><a href=""></a>Catégories</li>
            <li><a href=""></a>A propos</li>
        </ul>
    </div>
    <div class="footer-column">
        <ul>
            <li><a href="">C.G.V</a></li>
            <li><a href=""></a>C.G.U</li>
            <li><a href=""></a>Mentions légales</li>
        </ul>
    </div>
    <div class="footer-column">
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
</footer>
    </body>
</html>