<%- include('partials/header') %>
<div class="container-connexion">
    <div class="connexion-part">
        <form action="/connexion" method="post">
            <h3>Veuillez vous identifier</h3>
            <label for="email">Votre adresse mail:</label>
                <input type="email" name="email" id="email" placeholder="Votre adresse mail" required>
            <label for="password">Votre mot de passe:</label>
                <input type="password" name="password" id="password" placeholder="Votre mot de passe" required>
                <a href="#">J'ai oublié mon mot de passe </a>
            <button type="submit">Je me connecte</button>
            <a class="createAccount" href="/createAccount">Je n'ai pas encore de compte</a>
            
        </form>
    </div>
</div>
<%- include('partials/footer') %>