<%- include('partials/header') %>
<div class="container-createAccount">
    <div class="createAccount-part">
        <form action="" method="post">
            <h3>Remplissez les champs suivants:</h3>
            <label for="email">Votre adresse mail:</label>

                <input type="email" name="email" id="email" placeholder="Votre adresse mail" required>

            <label for="password">Votre mot de passe:</label>

                <input type="password" name="password" id="password" placeholder="Votre mot de passe" required>


            <label for="password">Confirmez votre mot de passe:</label>
            <input type="password" name="password" id="password" placeholder="Votre mot de passe" required>

            <label for="rgpd">
            <input type="checkbox" name="rgpd" id="rgpd" value="Valider" size="3" required><span class="conditionDUtilisation">J'accepte les conditions d'utilisation de la plateforme Coule de source</span></label>
            <button type="submit">Créer mon compte</button>

            
        </form>
    </div>
</div>
<%- include('partials/footer') %>