<%- include('partials/header') %>


    <div class="wrapper">
        <div class="slider">
            <!-- <img src="/images/nata2.jpg" alt=""> -->
        </div>
        <div class="bestProduct title">
            <h2>Les meilleurs ventes</h2>
            <div class="bestProductContainer">
                
                <%- include('./partials/product') %>
                
            </div>
        </div>
        <div class="catalogue">
            
        </div>

    </div>

    



<%- include("partials/footer") %>

