<%- include('partials/header') %>


    <div class="wrapper">
        <div class="slider">
            <!-- <img src="/images/nata2.jpg" alt=""> -->
        </div>
        <%- include('./partials/product') %>
                
        <hr>

        <%- include('./partials/catPart') %>

    </div>

    



<%- include("partials/footer") %>

