<%- include('partials/header') %>


    <div class="wrapper">
        <div class="slider">
            <!-- <img src="/images/nata2.jpg" alt=""> -->
        </div>
        <div class="bestProduct title">
            <h2>Les meilleurs ventes</h2>
            <div class="bestProductContainer">
                
                <%- include('./product') %>
                <!-- <div class="bestProduct-product">
                    <img src="/images/masqueTuba.jpg" alt="">
                    <h5>Masque & tuba</h5>
                    <p>Meme sous l'eau, ne perdez pas espoir ! Grace a ce combos, vous pourrez suivre le cours jusqu'a la fin sans vous noyer</p>
                    <ul>
                        <li class="green">Disponible</li>
                        <li>29,5€</li>
                        <li class="js">+10points endurance</li>
                    </ul>
                    <button>Ajouter au panier</button>
                </div>
                <div class="bestProduct-product">
                    <img src="/images/palme.jpg" alt="">
                    <h5>Mini Palme</h5>
                    <p>Pour vous permettre de suivre les explications les plus compliqué, et continuer a garder le rythme du cours jusqu'a la fin !</p>
                    <ul>
                        <li class="green">Disponible</li>
                        <li>29,5€</li>
                        <li class="js">+10points en JS</li>
                    </ul>
                    <button>Ajouter au panier</button>
                </div>
                <div class="bestProduct-product">
                    <img src="/images/pullBoy.jpeg" alt="">
                    <h5>PullBoy</h5>
                    <p>Cet accessoire newGen vous permettra de rester a la surface en toute circonstance pour poser toutes les questions que vous vous posez, sans boire la tasse !</p>
                    <ul>
                        <li class="green">Disponible</li>
                        <li>29,5€</li>
                        <li class="js">Empeche de couler</li>
                    </ul>
                    <button>Ajouter au panier</button>
                </div>
                <div class="bestProduct-product">
                    <img src="/images/plaquette.png" alt="">
                    <h5>plaquette pour main</h5>
                    <p>Telle des nageoirs, nous vous mettons à disposition un accessoire pour rattraper votre retard, fini la brasse mamie, let's go CRAWL !</p>
                    <ul>
                        <li class="green">Disponible</li>
                        <li>29,5€</li>
                        <li class="js">+10point concentration</li>
                    </ul>
                    <button>Ajouter au panier</button>
                </div> -->
            </div>
        </div>
        <div class="catalogue">
            
        </div>

    </div>

    



<%- include("partials/footer") %>

